body { 
	margin: 0 auto; 
	font-family: "San";
} 

* {
	box-sizing:border-box;
}

video{ 
position:fixed; 
z-index:-1; 
min-width:100%; 
min-height:100%; 
overflow:hidden; 
} 

.karta { 
	height: 100vh;
	width: 100vw; 
	position: absolute; 
	overflow: hidden;
} 

.mir { 
width: 100%; 
height: 100vh; 
} 


.button-index {
	position: absolute;
	bottom: 55px;
	opacity: 0.7;
	height: 250px;
	width: 100%;
	background: white;
	color: #a91e1e;
	line-height: 250px;
	text-align: center;
	font-size: 80px;
	font-weight: 900;
	transition: 0.3s;
	z-index: 190;
} 

.button-index:hover {
	height: 100%;
	line-height: 371px;
	bottom: 0;
	color: white;
	background: #a91e1e;
}




.karta_bg {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: black;
	opacity: 0.3;
}


.karta-ob1 {
	position: absolute;
	height: 100vh;
	width: 25%;
	z-index: 1000;

}

.karta-ob2 {
	position: absolute;
	background: white;
	left: 25%;
	height: 38.2%;
	width: 25%;
	color: #5b95ed;
	z-index: 100;
	margin: 0;
	font-size: 50px;
	font-weight: 900;
	text-align: center;
	line-height: 371px;
	transition: .5s;
	cursor: pointer;
}

.karta-ob2:hover {
	background: #5b95ed;
	color: white;
}

.for_scroll {
	position: absolute;
	overflow-y: scroll;
	top: 27%;
	height: 63%;
	width: 100%;
}

.button_karta {
	position: absolute;
	background: #5b95ed;
	bottom: 0;
	width: 100%;
	height: 10%;
	text-align: center;
	line-height: 100px;
	font-weight: 900;
	font-size: 50px;
	color: white;
	cursor: pointer;
	z-index: 900;
}


::-webkit-scrollbar-button {
background-image:url('');
background-repeat:no-repeat;
width:5px;
height:0px
}

::-webkit-scrollbar-track {
background-color:#ecedee
}

::-webkit-scrollbar-thumb {
-webkit-border-radius: 0px;
border-radius: 0px;
background-color:#2b76ef;
}

::-webkit-scrollbar-thumb:hover{
background-color:#56999f;
}

::-webkit-resizer{
background-image:url('');
background-repeat:no-repeat;
width:4px;
height:0px
}

::-webkit-scrollbar{
width: 10px;
}

.karta-ob2_ans {
	position: absolute;
	height: 0;
	width: 50%;
	left: 25%;
	overflow: hidden;
	background: white;
	z-index: 900;
	transition: 1s;
}

.karta-ob2_ans.active {
	position: absolute;
	background: white;
	height: 100vh;
	width: 50%;
	left: 25%;
	z-index: 900;
}

.karta-ob2_ans-h {
	position: absolute;
	color: white;
	font-size: 90px;
	top: 2%;
	left: 33%;
	margin: 0;
	z-index: 900;
}

.karta-ob2_ans_p-blue_bg_for_me {
	position: absolute;
	width: 100%;
	height: 260px;
	background: #5b95ed;
	z-index: 900;
}

.karta-ob2_ans-img {
	position: absolute;
	border-radius: 100px;
	height: 220px;
	width: 220px;
	top: 2.5%;
	left: 5%;
	z-index: 900;
	background-image: url("../img/Artem_2_2.jpg") 
}

.karta-ob2_ans_p {
	position: absolute;
	color: #0c4cb2;
	font-size: 28px;
	top: 1%;
	left: 8%;
	text-align: center;
	margin: 0;
	z-index: 800;
}

.karta-ob2_ans_p-blue_bg {
	position: absolute;
	top: 23%;
	width: 100%;
	height: 70px;
	background: #5b95ed;
	z-index: 850;
}

.karta-ob2_ans_p-blue {
	position: absolute;
	color: white;
	top: 0;
	font-size: 28px;
	left: 17%;
	margin: 0;
	text-align: center;
}

.karta-ob3 {
	position: absolute;
	background: white;
	left: 50%;
	height: 38.2%;
	width: 25%;
	overflow: hidden;
}

.karta-ob4 {
	position: absolute;
	top: 11.8%;
	left: 75%;
	background: white;
	height: 38.2%;
	width: 25%;
	color: #5b95ed;
	z-index: 1000;
	font-size: 50px;
	font-weight: 900;
	text-align: center;
	line-height: 371px;
	cursor: pointer;
	transition: .5s;
	overflow: hidden;
}

.karta-ob4:hover {
	color: white ;
	background: #5b95ed;

}

.karta-ob4_contacts {
	position: absolute;
	height: 38.2%;
	right: 25%;
	top: 11.8%;
	width: 0;
	background: #5b95ed;
	color: white;
	z-index: 1000;
	transition: .5s;
	overflow: hidden;
}

.karta-ob4_contacts.active {
	width: 25%;
	position: absolute;
	height: 38.2%;
	background: #5b95ed;
	color: white;
	z-index: 1000;
}

.vk {
	position: absolute;
	width: 100%;
	height: 22%;
	left: 0px;
	top: 28%;
	line-height: 80px;
	transition: .5s;
	z-index: 1000;
	cursor: pointer;
	text-decoration: none;
	color: white;
}

.vk_bg {
	position: absolute;
	height: 100%;
	width: 80px;
	left: 0;
	background: #507299;
}

.vk:hover {
	background: white;
	color: #5b95ed;
}

.vk_text {
	position: absolute;
	margin: 0;
	top: 0px;
	left: 88px;
	font-size: 30px;
}

.vk_img {
	position: absolute;
	top: 15px;
	left: 0;
}

.gog {
	position: absolute;
	width: 100%;
	height: 21.4%;
	left: 0px;
	top: 50%;
	line-height: 80px;
	transition: .5s;
	z-index: 1000;
	cursor: default;
	text-decoration: none;
	color: white;
}

.gog:hover {
	background: white;
	color: #5b95ed;
}

.gog_text {
	position: absolute;
	margin: 0;
	top: 0px;
	left: 88px;
	font-size: 25px;
}

.gog_img {
	position: absolute;
	top: 15px;
	left: 0;
}

.karta-ob5 {
	position: absolute;
	background: white;
	top: 38.2%;
	height: 11.8%;
	width: 75%;
	left: 25%;
	color: black;
	z-index: 100;
	font-size: 70px;
	font-weight: 900;
	text-align: left;
	line-height: 100%;
}

.karta-ob6 {
	position: absolute;
	background: white;
	right: 0;
	top: 50%;
	height: 11.8%;
	width: 75%;
	color: #b53003;
	z-index: 100;
	font-size: 90px;
	font-weight: 900;
	text-align: center;
	line-height: 100%;
}

.karta-ob7 {
	position: absolute;
	background: white;
	height: 38.2%;
	width: 8.4%;
	left: 25%;
	bottom: 0;
}



.karta-ob8 {
	position: absolute;
	background: white;
	bottom: 0;
	left: 33.35%;
	height: 371px;
	width: 33.34%;

}

.karta-ob9 {
	position: absolute;
	background: white;
	bottom: 0;
	right: 0;
	height: 38.2%;
	width: 33.35%;
	overflow: hidden;
}

.karta-ob10 {
	position: absolute;
	background: white;
	top: 0;
	right: 0;
	width: 25%;
	height: 11.8%;
}


